<!doctype html>
<html lang="en-US" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/neat.css">
  <title>My ToDo App</title>
</head>
<body>

  <div class="container" ng-controller="TodoController as todoCtrl">
    <h1>My ToDo's</h1>
    <form name="newTaskForm" ng-submit="newTaskForm.$valid && todoCtrl.addNewTask(task)" novalidate>
      <div class="form-group" ng-class="{'has-error':!todoCtrl.newTask.name}">
        <label class="control-label" for="name">Name: </label>
        <input class="form-control" type="text" id="name" ng-model="todoCtrl.newTask.name" required>
      </div>
      <div class="form-group" ng-class="{'has-error':!todoCtrl.newTask.desc}">
        <label class="control-label" for="desc">Description: </label>
        <input class="form-control" type="text" id="desc" ng-model="todoCtrl.newTask.desc" required>
      </div>
      <div class="form-group" ng-class="{'has-error':!todoCtrl.newTask.due}">
        <label class="control-label" for="due">Due Date: </label>
        <input class="form-control" type="date" id="due" ng-model="todoCtrl.newTask.due" required>
      </div>
      <div class="form-group">
        <select ng-model="todoCtrl.newTask.priority">
          <option value="{{val}}" ng-repeat="(val, text) in todoCtrl.priorityOptions">{{text}}</option>
          <!-- <option value="High">High</option>
          <option value="Medium" selected>Medium</option>
          <option value="Low">Low</option> -->
        </select>
      </div>
      <input type="Submit" value="Add Task" ng-show="newTaskForm.$valid">
      <!--<button ng-click="todoCtrl.addNewTask()">Add Task</button>-->
    </form>
    <table>
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Description</th>
          <th>Task Due Date</th>
          <th>Priority</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in todoCtrl.tasks">
          <td>{{task.name}}</td>
          <td>{{task.desc}}</td>
          <td>{{task.due | date}}</td>
          <td>{{task.priority}}</td>
          <td><button ng-click="todoCtrl.removeTask(task)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
