<!doctype html>
<html lang="en-US" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/main.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/neat.css">
  <title>My ToDo App</title>
</head>
<body>

  <div class="container" ng-controller="TodoController as todoCtrl" novalidate>
    <h1>My ToDo's</h1>
    <form name="newTaskForm" ng-submit="newTaskForm.$valid && todoCtrl.addNewTask(task)">
      <label for="name">Name: </label><input type="text" id="name" ng-model="todoCtrl.newTask.name" required>
      <label for="desc">Description: </label><input type="text" id="desc" ng-model="todoCtrl.newTask.desc" required>
      <label for="due">Due Date: </label><input type="date" id="due" ng-model="todoCtrl.newTask.due" required>
      <input type="Submit" value="Submit">
      <!--<button ng-click="todoCtrl.addNewTask()">Add Task</button>-->
    </form>
    <table>
      <thead>
        <tr>
          <th>Task Name</th>
          <th>Task Description</th>
          <th>Task Due Date</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in todoCtrl.tasks">
          <td>{{task.name}}</td>
          <td>{{task.desc}}</td>
          <td>{{task.due | date}}</td>
          <td><button ng-click="todoCtrl.removeTask(task)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
